/* Extra Light */
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200; /* Extra Light */
  font-style: normal;
}

/* Light */
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

/* SemiBold */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

/* Extra Bold */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800; /* Extra Bold */
  font-style: normal;
}

/* Black */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900; /* Black */
  font-style: normal;
}

* {
  font-family: "Poppins";
}
#header {
  background-image: url("../img/header.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#header .row {
  height: 100vh;
}
#header h2 {
  font-weight: 800 !important;
  font-size: 3.5rem;
}

/* Heeading Styles */
h1,
h2,
h3 {
  font-weight: 700 !important;
}

h4,
h5,
h6 {
  font-weight: 200;
}

/* Separator */
.separator {
  border-top: 4px solid #e6e6e6;
  margin: 2rem 0;
  width: 10%;
}
.btn {
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 50px !important;
  transition: all 0.3s;
}